nav {
  width: 98vw;
}
#hero-img {
  width: 98vw;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 98vw;
}

.container img {
  margin-top: 10px;
}
